gestures {
    hot-corners {
        off
    }
}
binds {
    Super+1 hotkey-overlay-title="Focus workspace (1-9)"{ focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+0 { focus-workspace 0; }

    Super+Shift+1 hotkey-overlay-title="Move to workspace (1-9)" { move-window-to-workspace 1; }
    Super+Shift+2 { move-window-to-workspace 2; }
    Super+Shift+3 { move-window-to-workspace 3; }
    Super+Shift+4 { move-window-to-workspace 4; }
    Super+Shift+5 { move-window-to-workspace 5; }
    Super+Shift+6 { move-window-to-workspace 6; }
    Super+Shift+7 { move-window-to-workspace 7; }
    Super+Shift+8 { move-window-to-workspace 8; }
    Super+Shift+9 { move-window-to-workspace 9; }
    Super+Shift+0 { move-window-to-workspace 0; }

    Super+Ctrl+H hotkey-overlay-title="Focus monitor left" { focus-monitor-left; }
    Super+Ctrl+J hotkey-overlay-title="Focus monitor down" { focus-monitor-down; }
    Super+Ctrl+K hotkey-overlay-title="Focus monitor up" { focus-monitor-up; }
    Super+Ctrl+L hotkey-overlay-title="Focus monitor right" { focus-monitor-right; }

    Super+Ctrl+Shift+H hotkey-overlay-title="Move window to monitor left" { move-window-to-monitor-left; }
    Super+Ctrl+Shift+J hotkey-overlay-title="Move window to monitor down" { move-window-to-monitor-down; }
    Super+Ctrl+Shift+K hotkey-overlay-title="Move window to monitor up" { move-window-to-monitor-up; }
    Super+Ctrl+Shift+L hotkey-overlay-title="Move window to monitor right" { move-window-to-monitor-right; }

    Super+H hotkey-overlay-title="Focus column or monitor left" { focus-column-or-monitor-left; }
    Super+J hotkey-overlay-title="Focus column or monitor down" { focus-window-or-monitor-down; }
    Super+K hotkey-overlay-title="Focus column or monitor up" { focus-window-or-monitor-up; }
    Super+L hotkey-overlay-title="Focus column or monitor right" { focus-column-or-monitor-right; }

    Super+Comma hotkey-overlay-title="Consume window into column" { consume-window-into-column; }
    Super+Period hotkey-overlay-title="Expel window from column" { expel-window-from-column; }
    Super+Semicolon hotkey-overlay-title="Consume or expel window left" { consume-or-expel-window-left; }
    Super+Apostrophe hotkey-overlay-title="Consume or expel window right" { consume-or-expel-window-right; }

    Super+Shift+Q hotkey-overlay-title="Close window" { close-window; }

    Super+C hotkey-overlay-title="Center column on screen" { center-column; }
    Super+Ctrl+C hotkey-overlay-title="Center visible columns on screen" { center-visible-columns; }

    Super+Shift+H hotkey-overlay-title="Move column left" { move-column-left; }
    Super+Shift+J hotkey-overlay-title="Move window down" { move-window-down; }
    Super+Shift+K hotkey-overlay-title="Move window up" { move-window-up; }
    Super+Shift+L hotkey-overlay-title="Move column right" { move-column-right; }

    Super+Home hotkey-overlay-title="Focus first column" { focus-column-first; }
    Super+End hotkey-overlay-title="Focus last column" { focus-column-last; }
    Super+Shift+Home hotkey-overlay-title="Move column to first" { move-column-to-first; }
    Super+Shift+End hotkey-overlay-title="Move column to last" { move-column-to-last; }

    Super+G hotkey-overlay-title="Toggle column tabs" { toggle-column-tabbed-display; }

    Super+R hotkey-overlay-title="Switch preset column widths" { switch-preset-column-width; }
    Super+Shift+R hotkey-overlay-title="Switch preset window heights" { switch-preset-window-height; }

    Super+F hotkey-overlay-title="Toggle fullscreen" { maximize-column; }
    Super+Shift+F hotkey-overlay-title="Maximize column width" { fullscreen-window; }
    Super+Alt+F hotkey-overlay-title="Toggle windowed fullscreen" { toggle-windowed-fullscreen; }
    Super+Ctrl+F hotkey-overlay-title="Expand column to available width" { expand-column-to-available-width; }

    Super+V hotkey-overlay-title="Toggle floating" { toggle-window-floating; }
    Super+Shift+V hotkey-overlay-title="Switch focus floating-tiling" { switch-focus-between-floating-and-tiling; }

    Super+Minus hotkey-overlay-title="Reduce column width" { set-column-width "-10%"; }
    Super+Equal hotkey-overlay-title="Increase column width" { set-column-width "+10%"; }
    Super+Shift+Minus hotkey-overlay-title="Reduce column height" { set-window-height "-10%"; }
    Super+Shift+Plus hotkey-overlay-title="Increase column height" { set-window-height "+10%"; }

    Print hotkey-overlay-title="Screenshot (select)" { screenshot; }
    Ctrl+Print hotkey-overlay-title="Screenshot (screen)" { screenshot-screen; }
    Alt+Print hotkey-overlay-title="Screenshot (window)" { screenshot-window; }

    Super+Return hotkey-overlay-title="Spawn terminal" { spawn "wezterm"; }
    Super+Shift+Return hotkey-overlay-title="Spawn terminal (floating)" { spawn "wezterm" "--class=floating.wezterm"; }

    Super+E hotkey-overlay-title="Spawn file explorer (floating)" { spawn "thunar" "--name=floating.thunar"; }

    Super+Space hotkey-overlay-title="Launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Super+S hotkey-overlay-title="Settings (search)" { spawn-sh "noctalia msg panel-toggle control-center"; }
    Super+Shift+S hotkey-overlay-title="Settings (app)" { spawn-sh "noctalia msg settings-toggle"; }
    Super+N hotkey-overlay-title="Network menu"{ spawn-sh "noctalia msg panel-toggle control-center network"; }
    Super+Tab hotkey-overlay-title="Window search"{ spawn-sh "noctalia msg window-switcher"; }
    Super+Backspace hotkey-overlay-title="Session menu"{ spawn-sh "noctalia msg panel-toggle session"; }
    Super+Shift+Slash hotkey-overlay-title="Keybinding cheatsheet"{ spawn-sh "noctalia msg plugin:keybind-cheatsheet toggle"; }
    Super+Shift+C hotkey-overlay-title="Clipboard" { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Super+W hotkey-overlay-title="Wallpaper" { spawn-sh "noctalia msg panel-toggle wallpaper"; }
    Super+A hotkey-overlay-title="Calendar" { spawn-sh "noctalia msg calendar toggle"; }
    Super+Shift+A hotkey-overlay-title="Weekly calendar"{ spawn-sh "noctalia msg plugin:weekly-calendar togglePanel"; }
    Super+Shift+E hotkey-overlay-title="Emoji picker"{ spawn-sh "noctalia msg launcher emoji"; }
    Super+O hotkey-overlay-title="Overview" repeat=false { toggle-overview; }
    Super+Z hotkey-overlay-title="Monitor Zen" { spawn "toggleMonitorZen"; }
    Super+P hotkey-overlay-title="Password manager" { spawn-sh "wofi-pass"; }
    Super+Shift+P hotkey-overlay-title="Insert new password" { spawn-sh "wofi-pass --insert"; }
    Super+Shift+U hotkey-overlay-title="Unicode picker" { spawn-sh "noctalia msg plugin:unicode toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }

    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause" "--ignore-player=firefox,chromium,brave"; }
    XF86AudioStop allow-when-locked=true { spawn "playerctl" "stop" "--ignore-player=firefox,chromium,brave"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous" "--ignore-player=firefox,chromium,brave"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next" "--ignore-player=firefox,chromium,brave"; }
    XF86AudioRewind allow-when-locked=true { spawn "playerctl" "position" "2-" "--ignore-player=firefox,chromium,brave"; }
    XF86AudioForward allow-when-locked=true { spawn "playerctl" "position" "2+" "--ignore-player=firefox,chromium,brave"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }

    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "playerctl" "volume" "0.05%+"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "playerctl" "volume" "0.05%-"; }

    XF86AudioMute allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    Super+XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
}
