//order matters
include "inputs.kdl"
include "binds.kdl"
include "rules.kdl"

animations { slowdown 0.7; }

overview {
    workspace-shadow {
        softness 40
        spread 20
        offset x=0 y=0
        color "#00000088"
    }
}

spawn-sh-at-startup "uwsm finalize NIRI_SOCKET"
// TODO: use nix instead of hardcoded path
spawn-at-startup "/home/michael/.nix-profile/bin/kanshi"
spawn-at-startup "noctalia-shell"
spawn-at-startup "ghostty --gtk-single-instance=true --quit-after-last-window-closed=false --initial-window=false"

hotkey-overlay { skip-at-startup; }

// TODO: use xdg pictures path instead of hardcode
screenshot-path "~/media/pictures/screenshots/%Y-%m-%dT%H%M%S.png"

prefer-no-csd

// TODO: Delete if Kanshi works
// switch-events {
//     lid-close { spawn "ghostty" "-e" "wlr-randr" "--output" "eDP-1" "--off"; }
//     lid-open { spawn "ghostty" "-e" "wlr-randr" "--output" "eDP-1" "--on"; }
// }

environment {
    XDG_CURRENT_DESKTOP "niri"
    GDK_BACKEND "wayland"
    QT_QPA_PLATFORM "wayland"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
}

cursor {
    xcursor-size 48
    hide-when-typing
    hide-after-inactive-ms 5000
}
