// FIXME: this should be dynamic from monitors module
output "eDP-1" {
    scale 1
}
output "DP-1" {
    mode "3840x2160@60"
    scale 1.5
    // vrr only enabled for window-rules that matcvh variable-refresh-rate
    variable-refresh-rate on-demand=true
    focus-at-startup
}
output "DP-2" {
    mode "3840x2160@60"
    scale 1.5
    variable-refresh-rate on-demand=true
}
