layer-rule {
  match namespace="^noctalia-backdrop*"
  place-within-backdrop true
}

layout {
    background-color "transparent"
    center-focused-column "never"
    gaps 10
    default-column-width {
        proportion 0.66667
    }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.66667
        proportion 0.5
        proportion 0.33333
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
        proportion 0.66667
        proportion 0.5
        proportion 0.33333
    }
    tab-indicator {
        gap 0
        length total-proportion=1.0
        place-within-column
        position "left"
        width 8
        // TODO: stylix colors
        active-color "#FF9400"
        inactive-color "#2D2D30"
    }
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

/* Apps: blur them all without xray so it looks more realistic. */
window-rule {
    background-effect {
        blur true
        xray false
    }
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  Noctalia publishes blur regions automatically when ext-background-effects is available.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

/* You can also fine-tune the blur effect globally. */
blur {
  passes 2        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.0  // color saturation boost (default: 1.5)
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    focus-ring {
        off
        width 1

        // TODO: stylix colors
        active-color "#FF9400"
        inactive-color "#2D2D30"
        urgent-color "#C03900"
    }
}

window-rule {
    match is-active=true
    shadow {
        on
        softness 30
        spread 5
        draw-behind-window true
        // TODO: stylix colors
        color "#0007"
    }
}

window-rule {
    match is-active=false
    opacity 0.9
}

window-rule {
    // applications
    match app-id="galculator$"
    match app-id=r#"^Tk$"#
    match app-id=r#"^thunar$"#
    match app-id=r#"^wev$"#
    // dialog windows
    match title="^(Open File)(.*)$"
    match title="^(Select a File)(.*)$"
    match title="^(Choose wallpaper)(.*)$"
    match title="^(Open Folder)(.*)$"
    match title="^(Save As)(.*)$"
    match title="^(Library)(.*)$"
    match title="^(Accounts)(.*)$"
    match title="^(Text Import)(.*)$"
    match title="^(File Operation Progress)(.*)$"
    //may need to swap order of title and app-id for this one
    match title="^()$" app-id="^([Ff]irefox)"
    // specific app classes
    match app-id=r#"^floating\.wezterm*"#
    match app-id=r#"^floating\.thunar*"#
    match app-id="dev.noctalia.Noctalia.Settings"
    // rules
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

window-rule {
    match app-id="^([Ff]irefox)" title="^()$"
    open-focused false
}

window-rule {
    // applications
    match title="^([Gg]imp)$"
    match title="^([Ff]lameshot)$"
    match title="^([Ii]nkscape)$"
    match title="^([Bb]lender)$"
    match title="^([Oo][Bb][Ss])$"
    match title="^([Ss]team)$"
    match title="^([Ss]team_app_*)$"
    match title="^([Vv]lc)$"
    match title="^(btop)(.*)$"
    match title="^(amdgpu_top)(.*)$"
    // remove transparency from video
    match title="^(Dashboard | glass*)(.*)"
    match title="^(Live video from*)(.*)$"
    match title="^(Netflix)(.*)$"
    match title="^(.*YouTube.*)$"
    match title="^(Picture-in-Picture)$"
    // rules
    opacity 1.0
}

window-rule {
    match app-id="^([Gg]imp)$"
    match app-id="^([Bb]lender)$"
    match app-id="^([Ii]nkscape)$"
    match app-id="^([Oo][Bb][Ss])$"
    default-column-width {
        proportion 1.0
    }
}

window-rule {
    match app-id="^steam_app_.*$"
    match app-id="^([Vv]lc)$"
    variable-refresh-rate true
}

window-rule {
    match title="^()$" app-id="^([Ss]team)$"
    match app-id="^([S]team_app_*)$"
    // TODO: put in nix config to adapt per host
    open-on-output "DP-3"
}

window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
    border {
        inactive-color "#7d0d2d"
    }
    shadow {
        color "#7d0d2d70"
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

debug {
    // Allows notifiaction actions and window activation from Noctalia
    honor-xdg-activation-with-invalid-serial
}
